Package: advatekmanager
Version: 1.0
Architecture: amd64
Depends: libglfw3-dev
Maintainer: Bruno Hefst <bruno0eness.com>
Description: Advatek Manager for Linux variants.
 A version of the Advatek Assistant software that is able to run on Linux Debian varients
