[submodule "imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui
[submodule "boost"]
	path = External/boost
	url = https://github.com/boostorg/boost
[submodule "portable-file-dialogs"]
	path = External/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs
[submodule "External/libAdvatek"]
	path = External/libAdvatek
	url = https://github.com/studioENESS/libAdvatek
