Package: advatekmanager
Version: 1.0
Architecture: armhf
Depends: libglfw3-dev
Maintainer: Bruno Hefst <bruno@eness.com>
Description: Advatek Manager for Linux variants.
 A version of the Advatek Assistant software that is able to run on a Raspberry Pi.
